body {
	font-family: Helvetica, Arial, sans-serif;
	
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}

#email {
	text-decoration: none;
	color: #4b5590;
}

h2 {
	color: rgb(230, 230, 230);
	background-color: #447647;
	
	padding: 10px;
	
	border-radius: 18px;
	border-bottom-right-radius: 50px;
	
}

.cabecalho {
	text-align: center;
	font-weight: 600;
}
