.secao-form {
    background-color: #EEE;
    border: none;
    padding: .6rem;
}

.secao-form > legend {
    background-color: #BBB;
    font-size: 1.2rem;
    padding: 0.2rem;

}

.secao-form:first-child {
    margin-bottom: 2rem;
}

label[for] {
    display: block;
}

input[type="text"] {
    width: 95%;
    font-family: inherit;
    font-size: 1rem;
    padding: .3em;
}

.btn {
    padding: .4rem;
    font-family: inherit;
    border-radius: .2rem;
}

.btn-principal {
   background-color: #c8d0f3;
   font-weight: 600; 
}